doctype html

html
	head
		meta(charset="UTF-8")

		title A Pen by  Albin Holmlund
		link(rel="stylesheet", href="css/style.css")

	body
		canvas#starsky

		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src="js/starsky.js"></script>
		<script src="js/scripts.js"></script>